/* はてなダイアリー用CSS */  

html {
    font-size: 10pt;
}

body {
    color: #dfdfdf;
    /* padding-top: 60px; */
    /* background-color: #C1C3CA; */
    background-color: #15171A;  
}

/* リンク */
a:link {
    color: #b07575;
}
a:visited {
    color: #a07050;
}
a:active {
    color: #d07230;
}
a:hover {
    color: #aa3030;
}

/* タイトル */  
h1.title {
    color: #eaeae7;
    background-color: #505050;
    text-align: left;
    padding: 0.3em 1.0em;
}

h1, h2, h3 {
    font-family: "comic sans ms", verdana, sans-serif;
}

/* 見出し */  
h4, h5, h6 {
    color: #ddd0d0;
    padding: 0.2em 0.3em;
}
h4, h5, h6 {
    font-size: 1em;
}
h5, h6 {
    margin: 0.5em;
}
h2 {
    border-bottom: 3px solid #c07070;
}
h3 {
    border-bottom: 2px dotted #303030;
}
h4 {
    border-bottom: 1px solid #303030;
}
h5 {
    border-bottom: 1px solid #c0c0c0;
}
h6 {
    border-bottom: 1px dotted #c0c0c0;
}

/* 文字装飾 */  
b {
    color: #c05050;
}
i {
    color: #600000;
}
code {
    color: #600000;
}
del {
    color: #608080;
}

a img {
    border: none;
}
img.figure {
    display: block;
    margin: 1em auto;
    border: 1px dotted #c05050;
}


/* ソース、例文 */  
code, pre {
    font-family: "ＭＳ ゴシック", "Osaka-Mono", monospace;
    font-size: 10pt;
    margin: 0.3em;
    padding: 0.3em;
    background-color: #C7CAC7;
    border: 2px solid #253515;
    border-radius: 10px;
}

/* テーブル */  
table {
    margin: auto;
}
thead {
    color: white;
    background-color: #303733;
}
tbody {
    background-color: #393a3a;
}
table, th, td {
    border: 1px solid #a0a0a0;
}
th, td {
    padding: 0.5em;
}
th {
    font-weight: bold;
}
caption {
    color: #a05050;
    font-weight: bold;
    font-size: smaller;
    white-space: nowrap;
}

/* リスト */  
ol, ul {
    padding-left: 2em;
}

ol li {
    border-left: 1px solid #d0d0d0;
    padding-left: 0.5em;
}
ol li ol li{
    border: none;
    padding-left: 0em;
}
ul li {
    border: none;
}
dt {
    font-weight: normal;
    border-left: 0.5em solid #c05050;
    border-bottom: 1px dotted #c0c050;
    padding-left: 0.3em;
    margin: 0.3em 0em;
    width: 50%;
}

/* 横線 */  
hr {
    height: 1px;
    background-color: #c05050;
    border-style: none;
}

div.hero-unit {
    color: #303030;
    background-color: #DADAE0;  
}

div.ascii-art {
    font-family: "Mona","IPA MONAPGOTHIC","MS PGothic","ＭＳ Ｐゴシック","MS Pｺﾞｼｯｸ","MS Pゴシック",sans-serif;
    font-size: 12pt;
    line-height: 18px;
    color: #111111;
    background-color: #CCCCCC;
    border-radius: 3px;
    border: 1px solid #AAAAAA;
}

/* div.day { */
/*  background-color: #1B1D1F; */
/*  border: 2px solid #151719; */
/*  border-radius: 10px; */
/*  margin: 1.2em 2.0em; /\* 外 *\/   */
/*  padding: 0.1em 1.5em; */
/* } */
/* div#google_afc_user { */
/*  background-color: #1B1D1F; */
/*  border: none; */
/* } */

/* div#footbar { */
/*  height: 500px; */
/*  background-color: #2B2D2F; */
/*  border: 2px solid #151719; */
/*  border-radius: 10px; */
/*  margin: 1.2em 2.0em; /\* 外 *\/   */
/*  padding: 0.1em 1.5em; */
/* } */

/* div.twitter-tweet { */
/*  background-color: #202045; */
/*  border: 2px solid #151545; */
/*  border-radius: 5px; */
/*  margin: 0.5em 1.0em; */
/*  padding: 0em 0.3em; */
/*  line-height: 1.5em; */
/* } */
/* div.twitter-detail { */
/*  background-color: #202045; */
/*  border: 2px solid #151545; */
/*  border-radius: 5px; */
/*  margin: 0.5em 1.0em; /\* 外 *\/   */
/*  padding: 0.3em 0.8em; /\* 中 *\/   */
/*  line-height: 1.5em; */
/* } */

/* プロフィールの設定 */  
/* div.hatena-module-profile { */
/*   margin: 0.3em 2.0em; /\* 外 *\/   */
/*   height: 100px; */
/*   width: 300px; */
/*   line-height: 1.0em; */
/*   float: left; */
/* } */
/* .hatena-profile-image { */
/*   float: left; */
/*   padding: 0em 0.8em; /\* 中 *\/   */
/* } */
/* .hatena-profile-image img { */
/*   height: 50px; */
/* } */

div.my-links {
  float: left;
}

/* header */  
/* div.my-header { */
/*   height: 110px; */
/*   background-color: #171515; */
/*   border: 2px solid #101011; */
/*   border-radius: 10px; */
/* } */

/* footer */  
p.creator {
    color: #b0a0a0;
}


/* repl */
#repl-input {
    margin-top: 5px;
    margin-left: 5px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 4px;
    padding-top: 4px;
    width: 95%;
}

div#repl-output {
    background-color: #E3E3E3;
}

pre, code {
    border: 1px solid #CECECE;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

pre.repl-output {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

code.repl-output-code {
    margin: 0px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 1px;
}